body{
    margin:0 50px;
}
h1{
    margin: 0;
    position: relative;
    top: 30px;
    width: 300px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: beige;
}
.site{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.menu{
    width: 100%;
    height: 100%;
}
.items{
    margin-left: 3rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.menuImg{
    height: 70px;
    width: 70px;
}
.foodImg{
    height: 300px;
    width: 300px;
}
.leftSide{
    text-align: right;
}
.menuBorder{
    border: 1px solid black;
    border-radius: 2%;
}
.selectedBtn{
    border-left: 5px solid red;
}
.btnLayout{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.cart-size{
    width: 100%;
    height: 200px;
}

/* modal css */
.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: white;
    margin: 30% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);

}
.modal-display{
    display: none;
}
.model-body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.model-descript{
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.cart-descript{
    margin-left: 30px;
}