body{
    margin:0 50px;
}
h1{
    margin: 0;
    position: relative;
    top: 30px;
    width: 300px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: beige;
}
.site{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.menu{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.items{
    margin-left: 3rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.menuImg{
    height: 70px;
    width: 70px;
}
.foodImg{
    height: 300px;
    width: 300px;
}
.leftSide{
    text-align: right;
}
.menuBorder{
    border: 1px solid black;
}
.selectedBtn{
    border-left: 5px solid red;
}
.btnLayout{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
